<article>
  <figure>
        <img src="http://static.pault.ag/state-legislature-photos/glass/{{state}}.png" alt="" />
  </figure>
  <section>

{% comment %}
    This is going to need to be adjusted based on the length
    of the legislators.

    <ul class="text-x-small">
{% endcomment %}

    <ul class="text-medium">
{% for leg in legs %}
      <li class="{% if leg.party == "Democratic" %}blue{% elif leg.party == "Republican" %}red{% elif leg.party == "Green" %}green{% else %}grey{% endif %}" >{{leg.full_name}}</li>
{% endfor %}
    </ul>
  </section>
  <footer>
    <p>Congresscritters</p>
  </footer>
</article>
